body {
    font-family: 'Roboto Condensed', sans-serif;
}

.icon {
    width: 35px;
    height: 35px;
    /*border-radius: 50%;*/
}

.icon img {
    width: 25px;
}

.bg-theam {
    background-color: #673AB7 !important;
}

.theam-border-primary {
    border-color: #673AB7 !important;
}

.theam-color {
    color: #673AB7 !important;
}

.bg-theam-second {
    background-color: #ff6207 !important;
}

.theam-second-border-primary {
    border-color: #ff6207 !important;
}

.theam-second-color {
    color: #ff6207 !important;
}

.news {
    background-color: #fff;
    transition: all 0.3s ease;
}

.news:hover {
    background-color: #f2f2f2;
    transition: all 0.3s ease;
}

:root {
    --animate-delay: 0.5s;
}

.btn-outline-primary {
    color: #673AB7;
    border-color: #673AB7;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #673AB7;
    border-color: #ff6207;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #673AB7;
    border-color: #ff6207;
}

.bg-transparent {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

@media (max-width: 768px) {
    .pt-xs-0,
    .py-xs-0 {
        padding-top: 0 !important;
    }
    .mt-xs-0,
    .my-xs-0 {
        margin-top: 0 !important;
    }
    .pb-xs-0,
    .py-xs-0 {
        padding-bottom: 0 !important;
    }
}

@media (max-width: 576px) {
    .text-xs-left {
        text-align: left !important;
    }
    .text-xs-right {
        text-align: right !important;
    }
    .text-xs-center {
        text-align: center !important;
    }
    .col-xs-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-xs-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-xs-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (min-width: 576px) {
    .d-sm-none {
        display: none !important;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: #ff6207;
    font-weight: bolder;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #ff6207;
}

.btn-outline-theme {
    color: #ff6207;
    border-color: #ff6207;
}

.btn:hover {
    color: #fff;
    text-decoration: none;
    background-color: #ff6207;
    font-weight: bolder
}


/*.custom-bg-light{
  background-color: #f8f9fa !important;
  transition: all 0.3s ease;
}
.custom-bg-light:hover{
  background-color: #fff !important;
  box-shadow: 2px 5px 4px #888888;
  transition: all 0.3s ease;
}*/

.card {
    background-color: #f8f9fa !important;
    transition: all 0.3s ease;
}

.card:hover {
    background-color: #fff !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: all 0.3s ease;
}

.client {
    opacity: 1;
    transition: all 0.3s ease;
}

.client:hover {
    opacity: 0.6;
    transition: all 0.3s ease;
}

.text-warning {
    color: #ff6207 !important;
}

.btn-outline-warning {
    color: #ff6207;
    border-color: #ff6207;
}

.btn-outline-warning:not(:disabled):not(.disabled):active,
.btn-outline-warning:not(:disabled):not(.disabled).active,
.show>.btn-outline-warning.dropdown-toggle {
    background-color: #ff6207;
    border-color: #ff6207;
}

.text-bold {
    font-weight: 600;
}

.client-section .card {
    background-color: #fff !important;
}

.example-section,
.design-section,
.create-section,
.client-section {
    margin-top: 40px;
    margin-bottom: 50px;
}


/* Media quries */

@media (max-width: 575.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 991.98px) {
    .h-section-01 {
        text-align: center;
    }
    .h-section-01 h1 {
        font-size: 2rem;
        margin-bottom: 0 !important;
    }
    .example-section h1 {
        font-size: 2.5rem;
    }
    .design-section {
        margin-top: 60px;
    }
    .design-section h1 {
        font-size: 2.5rem;
        text-align: center;
    }
    .create-section h1 {
        font-size: 2.5rem;
        text-align: center;
    }
    .example-section h1 {
        /* font-size: 2.5rem; */
        text-align: center;
    }
    .client-section img {
        max-width: 60%;
        align-self: center;
    }
    .client-section .client {}
    .navbar-nav .pl-3 {
        padding-left: 0 !important;
    }
    .f-col-1 {
        margin-bottom: 20px !important;
    }
    .f-col-1 h4 {
        text-align: center;
    }
    .f-col-1 p {
        text-align: justify;
    }
    .f-col-2 {
        margin-bottom: 20px !important;
    }
    .f-col-2 h4 {
        text-align: center;
    }
    .f-col-2 ul {
        text-align: center;
    }
    .f-col-3 h4 {
        text-align: center;
    }
    .f-col-3 address,
    .f-col-3 p {
        text-align: center;
    }
    .f-col-4{
        margin-top: 10px ;
    } 
    .f-col-4 .form-inline{
        background: rgba(255, 255, 255, 0.48);
        padding: 11px;
        border-radius: 11px;
        display: flex;
        justify-content: center;
    }
    .f-col-4 .form-inline button{
        width: 100%;
    }
    .f-col-4 .social{
        justify-content: center;
    }
    .f-col-5{
        min-height: 60px;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 10px 0;
    }
}

@media (max-width: 1199.98px) {}

.slide-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.17);
    left: 0;
    top: 0;
    right: 0;
    top: 0;
    z-index: 12;
}
.carousel-control-prev,
.carousel-control-next,
.carousel-indicators,
.carousel-caption {
    z-index: 990;
}
